@model List<GetCarQueryResult>

<!-- Car categories Start -->
<div class="container-fluid categories pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Popüler <span class="text-primary">Arabalarımız</span></h1>
            <p class="mb-0">
                Günümüzün en çok tercih edilen, tasarımı ve performansı ile öne çıkan otomobillerini bu bölümde keşfedebilirsiniz. Kullanıcılarımız tarafından en çok ilgi gören modelleri, detaylı özellikleri ve görselleriyle inceleyerek hayalinizdeki aracı bulabilirsiniz. Hem şehir içi pratik kullanımlar için ideal otomobiller hem de uzun yol konforu sunan modelleri bir arada görebilirsiniz.
            </p>
        </div>
        <div class="categories-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model.Skip(3).Take(4))
            {
                <div class="categories-item p-4">
                    <div class="categories-item-inner">
                        <div class="categories-img rounded-top">
                            <img src="@item.ImageUrl" style="width:100px; height:250px" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="categories-content rounded-bottom p-4">
                            <h4>@item.Brand @item.Model</h4>
                            <div class="categories-review mb-4">
                                <div class="me-3">Değerlendirme: @item.Review</div>
                                <div class="d-flex justify-content-center text-secondary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="mb-4">
                                <h4 class="bg-white text-primary rounded-pill py-2 px-4 mb-0">@item.PriceByDay ₺ / Gün</h4>
                            </div>
                            <div class="row gy-2 gx-0 text-center mb-4">
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-users text-dark"></i> <span class="text-body ms-1">@item.Seat Koltuk</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">@item.Transmission</span>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-gas-pump text-dark"></i> <span class="text-body ms-1">@item.Petrol</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">@item.Year</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-cogs text-dark"></i> <span class="text-body ms-1">@item.Gear</span>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-road text-dark"></i> <span class="text-body ms-1">@item.Km Km</span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill d-flex justify-content-center py-3">Rezervasyon Yap</a>
                        </div>
                    </div>
                </div>
            }            
        </div>
    </div>
</div>
<!-- Car categories End -->

