@model List<GetCarQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Araba Listesi</h4>
                    <p class="card-description">
                        Araba bölümünün ekleme, silme ve güncelleme işlemlerini buradan yapabilirsiniz.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-dark" style="font-style: italic; padding-right:40px;">#</th>
                                    <th class="text-dark" style="font-style: italic;">Resim</th>
                                    <th class="text-dark" style="font-style: italic;">Marka ve Model</th>
                                    <th class="text-dark" style="font-style: italic;">Yıl</th>
                                    <th class="text-dark" style="font-style: italic;">Km</th>
                                    <th class="text-dark" style="font-style: italic;">Fiyat/Gün</th>
                                    <th class="text-dark" style="font-style: italic;">Sil</th>
                                    <th class="text-dark" style="font-style: italic;">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CarId</td>
                                        <td>
                                            <img src="@item.ImageUrl" alt="image" style="width:100px; height:75px; object-fit:contain;" />
                                        </td>
                                        <td>@item.Brand @item.Model</td>
                                        <td>@item.Year</td>
                                        <td>@item.Km</td>
                                        <td>@item.PriceByDay ₺</td>
                                        <td><a href="/Car/DeleteCar/@item.CarId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Car/UpdateCar/@item.CarId" class="btn btn-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <a href="/Car/CreateCar" class="btn btn-primary">Yeni Araba Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
